extends layout


block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/templates/video/youtube_video.js')
  script(src='/javascripts/video.js')
  script(src='/javascripts/quiz.js')
  script(src='/javascripts/chat.js')


block content
  #quiz_page.full-height.grid-container
    .full-height.grid-x.grid-padding-x
      //- Heading and video area.
      .cell.small-6.medium-8
        h1= title
        #video_area
          #video_box
            //- Populated by javascript.

        .text-center
          button#hide_btn.button Hide
          button#reveal_btn.button Reveal

        #footer
          .lower-edge
            div
              //- Inconspicuous hidden video area.
              #video_container
                //- Populated by javascript.

      //- Chat area.
      .cell.small-6.medium-4
        #chat_area.full-height.grid-y
          .cell.auto
            ul#chat_messages
          .cell.shrink
            form(action="")
              .grid-x
                .cell.auto
                  input#chat_msg_input(autocomplete="off")
                .cell.shrink
                  button#send_chat_msg.button(type="button") Send
