doctype html
html.no-js
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='/jquery/jquery.js')
    script(src='/what-input/what-input.min.js')
    script(src='/foundation/js/foundation.min.js')
    script.
      $(document).foundation();
    block scripts

  body
    block content
