#chat_area {
  background-color: #ddd;

  #chat_messages {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #chat_messages li {
    padding: 5px 10px;
  }

  #chat_messages li:nth-child(even) {
    background: #fff;
  }

  #chat_messages li:nth-child(odd) {
    background: #eee;
  }

  #chat_msg_input {
    width: 100%;
  }
}
