//- Client-side Pug template to embed a Youtube video.
//-
//- Expected local variables:
//-   videoId

div.embedded-youtube-video-container
  iframe(src="https://www.youtube.com/embed/" + videoId + "?autoplay=1&controls=0", frameborder=0, allowfullscreen=true)
